#
# ~/.xprofile
#
#

# if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
#     eval "$(dbus-launch --sh-syntax --exit-with-session)"
# fi

# Environment variables
#

xrandr --output eDP1 --brightness 0.5


feh --bg-fill ~/image/wallpaper/bl2light.png

# fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"

xsetroot -cursor_name right_ptr
setxkbmap -option ctrl:swapcaps

lstatus &
exec fcitx &
